html{
    overflow-x: hidden;
}
/* In the html selector I made the overflow of the x axis hidden. This was because my web page allowed for me to scroll way too much to the right side of the page. */

header {
    display: flex;
    padding: 1%;
    background-color: #13293d;
}
/* The header selector has a display flex so when the viewport gets smaller, the header can adjust accordingly. The padding of 1% fits nicely. The background color is ocean blue. */

h1{
    font-size: x-large;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: white;
}
/* The h1 selector includes adjustments for the font size to be x-large because it's a title. The font family of sans serif, Arial, and Helvetica are in order from what I prefer. In case one font fails to load, I have backups. Lastly, the color of the fonts are white because it compliments the ocean blue.  */

#titleWork {
    text-decoration: underline;
}
/* This is the id selector of the span tag. The "work portfolio" part in the title is now underlined. */

nav ul {
    position: absolute;
    top: 22px;
    right: 51px;
    display: inline-flex;
}
/* The nav parent selector with the child selector unordered list was given absolute positioning to completely remove the navigators from the document flow, and absoute positioning is useful for sticking something in a specific position but you don’t want anything else to move around it. Position absolute allows you to do top left right and bottom to it, but I only adjusted the top and right to get the right positioning. The display is inline-flex because I want the tabs to be in line and not stacked on top of each other and also resposnsive to the changes of the viewport.*/

nav a {
    color: white;
    font-size: large;
    display: flex;
    width: 100px; 
} 
/* The parent selector nav also has its child selector the a tag, to specify that for every anchor tag I wanted the font to be a large size and also colored white.  */

nav a:hover {
    font-weight: 900;
    font-style:unset;
}
/* When I hover over the nav anchors I gave the font a bold and unique unset style. */

body {
    margin: 0;
    line-height: 2;
    /* background-color:#521e27; */
    background-color: #000;
}

#Welcome {
   position: relative;
   right: -43%;
}

#WelcomePic {
    display: flex;
    width: 1435px;
    height: 690px;
    border-radius: 200px;
}


#MePic {
    object-fit: cover;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: relative;
    top: 2mm;
    left: 49mm;
}

#AboutMe {
    position: relative;
    top: 30px;
    left: 900px;
    color: white;
}

#bib {
    position: relative;
    top: 0px;
    left: 0px;
    color: white;
    width: 500px;
    height: 0;
    margin: 20px;
    top: -300px;
    left: 700px;
}

#MyWorkPic {
    object-fit: cover;
    border-radius: 56%;
    width: 520px;
    height: 520px;
    position: relative;
    top: 2mm;
    left: 31mm;
}

#MyWork {
    position: relative;
    top: 30px;
    left: 900px;
    color: white;
}

#MyWorkBib {
    position: relative;
    top: 0px;
    left: 0px;
    color: white;
    width: 500px;
    height: 0;
    margin: 20px;
    top: -500px;
    left: 700px;
}

#ContactMe {
    position: relative;
    top: 190px;
    left: 280px;
    color: white;
}



.Contact {
    position: relative;
    top: 127px;
    left: 800px;
    font-size: 20px;
}

#emailColor {
    color: white;
}

p {
    color: white;
}











